body{
  background-color: #86109B;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}


.add-btn{
  color: #fff !important;
  background: #7313cb;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}


.app-title{
  text-align: center;
  color: #fff;
  font-size: 70px;
}

.list ul li button{
  position: absolute;
  right: 0%;
  background: #f34541;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
  
}

ul{
  margin: 0px;
  padding: 0px;
}

.list ul li{
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  padding: 10px;
  position: relative;
}

.container{
  color: #fff;
  max-width: 500px;
  margin: auto;
}


.input-text{
  display: inline;
  margin: 0;
  border: none;
  border-radius: 0.4rem;
  padding: 10px;
}

.edit{
  position: absolute;
  right: 0%;
  background: #f34541;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}